<p>
  <a href="" class="btn btn-danger btn-sm"><i class="fa fa-plus"></i> Add List</a>
  <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Contact</a>
  <a href="" class="btn btn-default btn-sm"><i class="fa fa-file"></i> Import / Export</a>
</p>

<div class="row">
  <div class="col-md-3 hidden-sm">
    <h5>My Lists</h5>
    <div class="list-group">
      <a href="" class="list-group-item active">All</a>
      <a href="" class="list-group-item">Friends</a>
      <a href="" class="list-group-item">Family</a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <h5>Contacts</h5>
    <form role="form">
      <div class="form-group">
        <input type="text" placeholder="Filter" class="form-control">
      </div>
    </form>
    <div class="list-group">
      <a href="" class="list-group-item active">Hunter Leath</a>
      <a href="" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="" class="list-group-item">Morbi leo risus</a>
      <a href="" class="list-group-item">Porta ac consectetur ac</a>
      <a href="" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <h5>Detail</h5>
    <div class="well">
      <h2 style="margin: 0;">Hunter Leath</h2>
    </div>
  </div>
</div>
