<p>
  <a href="" class="btn btn-danger btn-sm"><i class="fa fa-plus"></i> Add List</a>
  <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Contact</a>
  <a href="" class="btn btn-default btn-sm"><i class="fa fa-file"></i> Import / Export</a>
</p>

<div class="row">
  <div class="col-md-3 hidden-sm">
    <h5>My Lists</h5>
    <div class="list-group" ng-init="selectedList = ''">
      <a href="" class="list-group-item" ng-class="{active: selectedList == ''}" ng-click="selectedList = ''">All</a>
      <a href="" class="list-group-item" ng-class="{active: $parent.selectedList == list}" ng-click="$parent.selectedList = list" ng-repeat="list in lists">{{ list }}</a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <h5>Contacts</h5>
    <form role="form">
      <div class="form-group">
        <input type="text" placeholder="Filter" class="form-control" ng-model="search">
      </div>
    </form>
    <div class="list-group" ng-init="selectedContact = contacts[0]">
      <a href=""
         class="list-group-item"
         ng-repeat="contact in contacts | filter: {$: search, lists: selectedList}"
         ng-class="{active: $parent.selectedContact.name == contact.name}"
         ng-click="$parent.selectedContact = contact">
         <i class="fa fa-fw" ng-class="{ 'fa-star': contact.favorite }"></i>
         {{ contact.name }}
       </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <h5>Detail</h5>
    <div class="well">
      <h3 style="margin-top: 0;">{{ selectedContact.name }}</h3>
      <h4>Identities</h4>
      <p class="text-muted" ng-repeat="identity in selectedContact.identities">{{ identity.address }}</p>
    </div>
  </div>
</div>
