<h4>Dashboard <small><a href="" ng-class="{'text-danger': editDash}" ng-click="editDash = !editDash; adding = false">{{ editDash && 'stop editing' || 'edit' }}</a></small></h4>

<div ng-show="adding && editDash" class="addTile">
  <h4>Add a Tile <small><a href="" ng-click="adding = false" class='text-danger'>cancel</a></small></h4>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <div class="pluginTiles" ng-repeat="plugin in plugins | objectsHave:'tiles' ">
    <p class="text-muted"><small>From <abbr title="{{ plugin.id }}">{{ plugin.name }}</abbr> Plugin</small></p>
    <div class="list-group">
      <a href="" ng-click="addTile(plugin, key)" class="list-group-item" ng-repeat="(key, tile) in plugin.tiles">
        <h4 class="list-group-item-heading">{{ tile.name || key }}</h4>
        <p class="list-group-item-text">{{ tile.description }}</p>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="tiles" ui-sortable="sortableOptions" ng-model="tiles">
    <div class="col-xs-{{ tile.size }}" ng-repeat="(index, tile) in tiles">
      <mlg-tile src="tile.url" index="index" delete="deleteTile" edit="editDash" height="tile.height" name="tile.name" clickthrough="tile.click && (!editDash)"></mlg-tile>
    </div>
  </div>
  <mlg-add-tile ng-click="adding = true" ng-show="editDash"></mlg-add-tile>
</div>

<hr class="live-tile-seperator"/>
<h4>Newsfeed <small><a href="">filter</a></small></h4>
<div ng-show="loading" class="message-list-loading">
  <i class="fa fa-circle-o-notch fa-5x fa-spin"></i>
</div>
<div ng-show="newsfeed.length == 0 && !loading" class="text-center text-muted">
  <h2>Your newsfeed is completely empty!</h2>
  <p><a href="#/contacts">Subscribe to some friends</a>, or receive some messages.</p>
</div>
<div ng-repeat="message in newsfeed">
  <message data="message"></message>
</div>
