<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mlg-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Melange</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mlg-navbar">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
      <!-- <li class="icon"><a href="#">{{ page }}</a></li> -->
        <li class="dropdown">
          <a class="icon" style="padding-left: 10px;" href="" class="dropdown-toggle" data-toggle="dropdown">{{ currentIdentity.Nickname }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="id in allIdentities"><a href="#">Switch to {{ id.Nickname }}</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-fw fa-eye"></i> Private Mode</a></li>
            <li><a href="#"><i class="fa fa-fw fa-plus"></i> Add a New Identity</a></li>
          </ul>
        </li>
        <li class="vertical-divider"></li>
        <li><a class="icon" href="#/notifications"><i class="fa fa-fw fa-bell"></i></a></li>
        <li><a class="icon" href="#/settings/plugins"><i class="fa fa-fw fa-puzzle-piece"></i></a></li>
        <!-- <li><a class="icon" href="#/settings"><i class="fa fa-fw fa-gears"></i></a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
