<br/>
<div class="row">
  <div class="col-sm-3">
    <img class="img-responsive img-circle" ng-src="{{ img }}">
  </div>
  <div class="col-sm-9">
    <h1>{{ name }} <small>Profile</small></h1>
    <p>{{ description }}</p>
  </div>
</div>

<hr/>

<div ng-hide="messages" class="text-center text-muted">
  <h2>There's nothing on your profile!</h2>
  <p><a href="#/contacts">Subscribe to some friends</a>, or receive some messages.</p>
</div>
<div ng-repeat="message in messages">
  <h1>I got a message, yo.</h1>
</div>
