<div class="sidebar-top">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{ active: page == '/dashboard' }"><a href="#/dashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
    <li ng-class="{ active: page == '/all' }"><a href="#/all"><i class="fa fa-fw fa-envelope"></i> All Mail</a></li>
    <li ng-class="{ active: page == '/profile' }"><a href="#/profile"><i class="fa fa-fw fa-user"></i> My Profile</a></li>
    <li class="seperator"></li>
    <li class="header">PLUGINS</li>
    <li
      ng-repeat="plugin in allPlugins"
      ng-class="{ active: page.indexOf('/plugin/' + plugin.id) === 0 }"
      ng-if="!plugin.hideSidebar">
        <a ng-href="#/plugin/{{ plugin.id }}/index.html" ng-click="reload()">{{ plugin.name }}</a>
    </li>
    <li class="seperator"></li>
    <li class="header">FAVORITES</li>
    <li><a href="">Dalton Sherwood</a></li>
  </ul>
</div>
<div class="sidebar-bottom">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{ active: page == '/contacts' }"><a href="#/contacts"><i class="fa fa-fw fa-book"></i> Contacts</a></li>
    <li ng-class="{ active: page.indexOf('/settings') === 0 }"><a href="#/settings"><i class="fa fa-fw fa-gears"></i> Settings</a></li>
  </ul>
</div>
<div class="sidebar-resize"></div>
