<h1>Marketplace</h1>

<div class="well">
<h4>Install Applications</h4>
<div class="row">
  <div class="col-xs-6">
    <form class="form">
      <div class="form-group">
        <label for="application-search">Search for Applications</label>
        <input id="application-search" name="application-search" type="text" class="form-control" placeholder="flappy bird application">
      </div>
    </form>
  </div>
  <div class="col-xs-6">
    <form class="form">
      <div class="form-group">
        <label for="application-url">Install a Custom Application via URL</label>
        <input id="application-url" name="application-url" type="text" class="form-control" placeholder="http://airdispat.ch/plugins/notes.zip">
      </div>
    </form>
  </div>
</div>
</div>

<h4><i class="fa fa-star"></i> Featured Applications</h4>
<div ng-if="loadingStore" class="text-muted text-center">
  <i class="fa fa-spin fa-circle-o-notch fa-4x"></i>
</div>
<div class="row">
  <div class="col-sm-6" ng-repeat="plugin in store">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead" style="margin-bottom: 0;">
          {{ plugin.Name }}
        </p>
        <p>{{ plugin.Description }}</p>
        <p class="small">by {{ plugin.Username }}</p>
      </div>
      <div class="panel-footer">
        <a href="" ng-click="install(plugin)" ng-disabled="plugin.Installed || plugin.Installing" class="btn btn-xs" ng-class="{'btn-primary': !plugin.Installed, 'btn-default': plugin.Installed}">
          <span ng-if="plugin.Installing">
            <i class="fa fa-fw fa-spin fa-circle-o-notch"></i>
          </span>
          {{ plugin.Installed ? 'Installed' : 'Install' }}
        </a>
        <span class="text-danger" ng-if="plugin.Error"><i class="fa fa-times"></i> Error Installing Plugin</span>
      </div>
    </div>
  </div>
</div>
