<div ng-include="'partials/market/toolbar.html'"></div>

<div class="container-fluid">
  <h3><i class="fa fa-shopping-cart"></i> Marketplace <small>Updates</small></h3>
  <hr/>
  <h4><i class="fa fa-history"></i> Application Updates</h4>
  <div ng-if="loadingUpdates" class="text-muted text-center">
    <i class="fa fa-spin fa-circle-o-notch fa-4x"></i>
  </div>
  <div ng-if="updates.length == 0 && !loadingUpdates" class="text-muted text-center">
    <p>All applications are up to date.</p>
  </div>
  <div ng-if="updates.length > 0 && !loadingUpdates" class="row">
    <div class="col-sm-6" ng-repeat="plugin in updates">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="lead" style="margin-bottom: 0;">
            {{ plugin.Id }} to {{ plugin.Version }}
          </p>
          <p>{{ plugin.Changelog }}</p>
          <p class="small">at {{ plugin.Repository }}</p>
        </div>
        <div class="panel-footer">
          <a href="" ng-click="update(plugin)" ng-disabled="plugin.Updated || plugin.Updating" class="btn btn-xs" ng-class="{'btn-primary': !plugin.Updating, 'btn-default': plugin.Updating}">
              <span ng-if="plugin.Updating">
                <i class="fa fa-fw fa-spin fa-circle-o-notch"></i>
              </span>
            {{ plugin.Installed ? 'Updated' : 'Update' }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <h4><i class="fa fa-desktop"></i> Installed Applications</h4>
  <div ng-if="!hasPlugins" class="text-muted text-center">
    <p>No plugins installed yet, go ahead and install some.</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="plugin in plugins">
      <p class="pull-right">
        <a href="" ng-click="uninstall(plugin)" class="btn btn-xs btn-danger">Uninstall</a>
      </p>
      <h4><abbr title="{{ plugin.id }}">{{ plugin.name }}</abbr> <small>by {{ plugin.author.name }}</small></h4>
      <p>{{ plugin.description }}</p>
    </li>
  </ul>
</div>
