# Simple Revel Based Ignores
test-results/
tmp/
routes/

# Ignore Databases and Logs
*.db
*.log

# Ignore Binaries

# Editor Based Files
*.swp
*#
*~
app/controllers/#dispatch.go#
app/controllers/.#dispatch.go

# Ignore Tracker Files and Key Files
*.tracker
*.tk
*.pk

# Ignore the Temporary Gopath
go/
