# Simple Revel Based Ignores
test-results/
tmp/
routes/

# Ignore Databases and Logs
*.db
*.log

# Ignore Binaries

# Editor Based Files
*.swp
*#
*~
app/controllers/#dispatch.go#
app/controllers/.#dispatch.go

# Ignore Tracker Files and Key Files
*.tracker
*.tk
*.pk

# Ignore the Temporary Gopath
go/

data/*
test/
test/*

# Ignore Special Builds Paths
build
build/tmp
server/server/server
releases
startup.sh
mobile/assets
mobile/.idea
desktop/shell
mobile/android/assets
*.keystore
local.properties
mobile/ios/melange_app_backup.app
embedded.mobileprovision
Melange
mobile/ios/Melange.app/_CodeSignature
mobile/ios/Melange.app/Assets
Melange_App_Store.mobileprovision
melange.css
node_modules
oldClient
client/.sass-cache
