.sidebar {
  position: fixed;
  top: 45px;
  bottom: 0em;
  left: 0;
  width: 150px;
  background-color: @frame-background;
  border-right: 1px solid @frame-border;
  text-align: left;

  .sidebar-bottom {
    position: fixed;
    bottom: 0;
    width: 150px;
    background-color: @frame-background;
  }

  .sidebar-top {
    position: fixed;
    top: 45px;
    bottom: 6em;
    width: 150px;
    overflow: auto;
  }

  .nav .seperator {
    height: 1px;
    width: 100%;
    background-color: @frame-border;
  }

  .nav li a {
    padding: 7px 7px;
    font-size: 13px;
    color: #eee;
  }

  .nav li a:hover {
    background-color: @frame-hover;
  }

  .nav li.active a:hover {
    background-color: @frame-selected;
  }

  .nav .header {
    color: #868686;
    font-weight: bold;
    font-size:10px;
    margin: 4px;
  }
}
