html {
  .full-screen;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: none;
}

body {
  .full-screen;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, p, .navbar a.navbar-brand {
  cursor: default;
}

a h1, a h2, a h3, a h4, a h5, a h6, a p {
  cursor: pointer;
}

.clear {
  clear: both;
}

.main {
  position: fixed;
  top: 45px;
  left: 150px;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.setup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-bottom: 20px;
}
