html {
  .full-screen;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: none;
}

body {
  .full-screen;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, p, .navbar a.navbar-brand {
  cursor: default;
}

a h1, a h2, a h3, a h4, a h5, a h6, a p {
  cursor: pointer;
}

.can-select, .well.update {
  -webkit-user-select: text;
  cursor: text;
}

.clear {
  clear: both;
}

.main {
  position: fixed;
  top: 45px;
  left: 150px;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.setup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-bottom: 20px;
}

.container-fluid.padding-none {
  padding: 0;
}

.candy-bar {
  position: absolute;
  right: 12px;
  bottom: 12px;
  background-color: rgba(0, 0, 0, .75);
  color: white;
  padding: 10px;
}

.candy-bar p {
  margin: 0;
}

.close-buttons-mac {
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 4px;
  float: left;

  a {
    height: 13px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13px;
    float: left;
    margin-left: 7px;
    cursor: default;
  }
}

.close-buttons-mac:hover {
  a {
    background-position: bottom;
    cursor: default;
  }
}
