{{ set . "title" "Application Error" }}
{{ template "header.html" . }}

<div class="container">
  <div class="row">
    {{ template "sidebar.html" . }}
    <div class="main col-sm-10 text-center">
      <h1><i class="fa fa-minus-circle text-danger fa-5x"></i></h1>
      <h1>Application Error</h1>
      {{ if .error }}
      <br/>
      <p>{{ .error }}</p>
      {{ end }}
      <p class="text-muted">{{ .app.Name }} - <a href="{{ .app.AppURL }}">{{ .app.AppURL }}</a></p>
      <br/>
      <form action="/app/{{ .app.Name }}/uninstall" method="post">
	<button class="btn btn-danger btn-sm">Uninstall this Application</button>
      </form>
      <br/>
    </div>
  </div>
</div>

{{ template "footer.html" . }}
