.body {
	padding-top: 50px;
}
.footer {
	background-color: black;
	color: #ddd;
	padding: 10px 0;
	margin-top: 50px;
}
.footer p {
	font-size: 10px;
}

/* LOGIN FORM */
#usernameInput {
	margin-bottom: -1px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
#passwordInput {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin .form-control {
	position: relative;
}
.form-signin p {
	font-size: 12px;
	color: #999;
}
.form-signin p.error {
	color: red;
	font-weight: bold;
}
body.Login, body.Register {
	background-color: #eee;
}
