<div class="row">
  <div class="col-sm-6">
    <h4>Mail Provider</h4>
    <div class="list-group">
      <a href=""
         class="list-group-item"
         ng-class="{ selected: $parent.profile.server == provider.id }"
         ng-repeat="provider in mailProviders"
         ng-click="$parent.profile.server = provider.id">
        <div class="row">
          <div class="col-sm-2">
            <img ng-src="{{ provider.image }}" class="img-responsive">
          </div>
          <div class="col-sm-9">
            <h4>{{ provider.name }}</h4>
            <p>{{ provider.description }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <h4>Address Provider</h4>
    <div class="list-group">
      <a href=""
         class="list-group-item"
         ng-class="{ selected: $parent.profile.tracker == provider.id }"
         ng-repeat="provider in addressProviders"
         ng-click="$parent.profile.tracker = provider.id; $parent.profile.selectedTracker = $index">
        <div class="row">
          <div class="col-sm-2">
            <img ng-src="{{ provider.image }}" class="img-responsive">
          </div>
          <div class="col-sm-9">
            <h4>{{ provider.name }}</h4>
            <p>{{ provider.description }}</p>
          </div>
        </div>
      </a>
    </div>
    <h4>Address Registration</h4>
    <div class="input-group" style="width: 100%;">
      <input type="email" class="form-control" ng-model="profile.alias">
      <span class="input-group-addon" ng-show="profile.tracker !== undefined">@{{ addressProviders[profile.selectedTracker].url }}</span>
    </div>
  </div>
</div>
