{{ set . "title" "Test AirDispatch Address" }}
{{ set . "auth" true }}
{{ set . "dev" true }}
{{ template "header.html" . }}
<div class="container">
  <h1>Address Viewer</h1>
  <div class="row">
    <div class="col-md-6">
      <form class="form">
	<div class="form-group">
	  <label for="a">Address</label>
	  <input class="form-control" name="a" id="a" type="text" value="{{ .a }}"/>
	</div>
	<button type="submit" class="btn btn-success btn-sm">Go</button>
      </form>
    </div>
    <div class="col-md-6">
      <br/>
      <p>This tool will help determine whether addresses you are trying to use are correctly registered with the routing layer of AirDispatch. We will attempt to load the address, and will display all the information possible about it.</p>
    </div>
  </div>
  {{ if .err }}
  <br/>
  <div class="alert alert-danger">
    Got an Error Loading that Address: {{ .err }}
  </div>
  {{ end }}
  {{ if .lookupType }}
  <br/>
  <table class="table table-bordered table-striped" style="table-layout: fixed;">
    <thead>
      <tr>
	<th>Key</th>
	<th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Lookup Type</td>
	<td>{{ .lookupType }}</td>
      </tr>
      {{ if .addr }}
      <tr>
	<td>Location</td>
	<td>{{ .addr.Location }}</td>
      </tr>
      <tr>
	<td>Fingerprint</td>
	<td>{{ .addr.String }}</td>
      </tr>
      <tr style="word-wrap: break-word;">
	<td>EncryptionKey</td>
	<td>{{ .addr.EncryptionKey }}</td>
      </tr>
      <tr style="word-wrap: break-word;">
	<td>SigningKey</td>
	<td>{{ .addr.SigningKey }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ end }}
</div>
{{ template "footer.html" . }}
