<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i> Settings <small>Developer</small></h3>
  <hr/>
  <p>
    <a href="#/settings/developer/add" class="pull-right btn btn-success btn-xs">
      <i class="fa fa-plus"></i>
      Add an Application
    </a>
  </p>
  <h4>My Applications</h4>
  <div class="list-group">
    <a href="#/settings/developer/view/app" class="list-group-item">
      <img src="http://placehold.it/64" style="float: left; margin-right: 10px;">
      <h5>Melange Chat <span class="label label-warning">0.0.6</span></h5>
      <p>
        <i class="fa fa-cloud-download"></i> 456
        <i class="fa fa-shopping-cart"></i> 1
      </p>
    </a>
  </div>
  <hr/>
  <a href="">Documentation</a>
  <!-- Add Buttons Pertaining to "Developer Mode" and Plugins in Another Directory -->
</div>
