<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i> Settings <small>New Application</small></h3>
  <hr/>
  <form>
    <div class="form-group">
      <label for="name">Application Name</label>
      <input ng-model="app.name" type="text" id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Application Description</label>
      <textarea ng-model="app.description" id="description" class="form-control"></textarea>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="image">Application Image</label> <br/>
          <div class="input-group">
            <input ng-model="app.image" type="text" class="form-control">
            <a ng-click="chooseImage()" class="input-group-addon btn btn-primary">Choose Image</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="folder">Source Folder</label>
          <div class="input-group">
            <input ng-model="app.src" type="text" class="form-control" id="folder">
            <a ng-click="chooseFolder()" href="" class="input-group-addon btn btn-primary">Browse</a>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="form-action">
      <button ng-click="addApplication()" type="button" class="btn btn-sm btn-warning">Create Application</button>
    </div>
  </form>
  <br/>
</div>
