<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i>Settings <small>View Application</small></h3>
  <hr/>
  <h4>Melange Chat <small>0.0.6 <a href=""><i class="fa fa-external-link"></i></a></small></h4>
  <p>
    <a class="btn btn-sm btn-default">Turn on Developer Mode</a>
    <a href="#/settings/developer/view/__name__/update" class="btn btn-sm btn-primary">New Version</a>
    <a href="#/settings/developer/add" class="btn btn-sm btn-warning">Edit</a>
    <a href="" class="btn btn-sm btn-link pull-right">Delete</a>
  </p>
  <br/>
  <h5>Basic Information</h5>
  <div class="well">
  Pellentesque dapibus suscipit ligula.  Donec posuere augue in
    quam.  Etiam vel tortor sodales tellus ultricies commodo.
    Suspendisse potenti.  Aenean in sem ac leo mollis blandit.  Donec
    neque quam, dignissim in, mollis nec, sagittis eu, wisi.  Phasellus
    lacus.  Etiam laoreet quam sed arcu.  Phasellus at dui in ligula
    mollis ultricies.  Integer placerat tristique nisl.  Praesent augue.
    Fusce commodo.  Vestibulum convallis, lorem a tempus semper, dui dui
    euismod elit, vitae placerat urna tortor vitae lacus.  Nullam libero
    mauris, consequat quis, varius et, dictum id, arcu.  Mauris mollis
    tincidunt felis.  Aliquam feugiat tellus ut neque.  Nulla facilisis,
    risus a rhoncus fermentum, tellus tellus lacinia purus, et dictum
    nunc justo sit amet elit.
  </div>
  <br/>
  <h5>Application Versions</h5>
  <div class="list-group">
    <a href="#/settings/developer/view/__name__/update" class="list-group-item">
      <h4>v0.0.1</h4>
      <p><span class="label label-warning">Draft</span> <span class="text-muted">last updated 12-13</span></p>
    </a>
  </div>
</div>
