<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i>Settings <small>View Application</small></h3>
  <hr/>
  <h4>Melange Chat <small>0.0.6</small></h4>
  <p>
    <a href="" class="btn btn-sm btn-primary">Update Application</a>
    <a href="#/settings/developer/add" class="btn btn-sm btn-warning">Edit Application</a>
    <a href="" class="btn btn-sm btn-danger">Remove Application</a>
  </p>
  <h5>Published Versions</h5>

</div>
