<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <!-- Permission Modal !-->
  <modal name="'Add Permission'" enabled="showPermissions">
    <form class="form form-horizontal">
      <div class="form-group">
        <label for="perm_key" class="col-sm-2 control-label">Key</label>
        <div class="col-sm-10">
          <input type="text" ng-model="newPermission.key" class="form-control" id="perm_key" placeholder="read_message">
        </div>
      </div>
      <div class="form-group">
        <label for="perm_value" class="col-sm-2 control-label">Value</label>
        <div class="col-sm-10">
          <input type="text" ng-model="newPermission.value" class="form-control" id="perm_value" placeholder="['airdispat.ch/chat/body']">
        </div>
      </div>
      <button ng-click="addPermission()" class="btn btn-default btn-xs">Add Permission</button>
    </form>
  </modal>

  <!-- Tile Modal !-->
  <modal name="'Add a Tile'" enabled="showTile">
    <form class="form form-horizontal">
      <div class="form-group">
        <label for="tile_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" ng-model="newTile.name" class="form-control" id="tile_name">
        </div>
      </div>
      <div class="form-group">
        <label for="tile_description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea ng-model="newTile.description" class="form-control" id="tile_description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="tile_file" class="col-sm-2 control-label">HTML File</label>
        <div class="col-sm-10">
          <select ng-model="newTile.file" class="form-control" id="tile_file">
            <option ng-repeat="file in pluginFiles">{{ file.path }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="tile_size" class="col-sm-2 control-label">Size</label>
        <div class="col-sm-10">
          <select ng-model="newTile.size" class="form-control" id="tile_size">
            <option>100%x150</option>
          </select>
        </div>
      </div>
      <button ng-click="addTile()" class="btn btn-default btn-xs">Add Tile</button>
    </form>
  </modal>

  <!-- Viewer Modal !-->
  <modal name="'Add a Viewer'" enabled="showViewer">
    <form class="form form-horizontal">
      <div class="form-group">
        <label for="tile_file" class="col-sm-2 control-label">HTML File</label>
        <div class="col-sm-10">
          <select ng-model="newViewer.file" class="form-control" id="tile_file">
            <option ng-repeat="file in pluginFiles">{{ file.path }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="tile_types" class="col-sm-2 control-label">Message Types</label>
        <div class="col-sm-10">
          <input type="text" ng-model="newViewer.types" id="tile_types" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Hidden Viewer
            </label>
          </div>
        </div>
      </div>
      <button ng-click="addViewer()" class="btn btn-default btn-xs">Add Viewer</button>
    </form>
  </modal>

  <h3><i class="fa fa-gears"></i> Settings <small>New APP_NAME Update</small></h3>
  <hr/>
  <form>
    <div class="form-group">
      <label for="version">Version</label>
      <input ng-model="app.version" class="form-control" type="text" id="version">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="changelog">Changelog</label>
          <textarea ng-model="app.changelog" class="form-control" id="changelog"></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="perms">
            Permissions
            <a ng-click="showPermissions = true" href=""><i class="text-success fa fa-plus-circle"></i></a>
          </label>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="perm in app.permissions">
                <td>{{ perm.name }}</td>
                <td>{{ perm.value }}</td>
              </tr>
              <tr ng-if="app.permissions.length == 0 || !app.permissions">
                <td colspan="2" class="text-danger">No permissions yet.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr/>
    <div class="more-actions">
      <p><small>Extras</small></p>
      <p>
        <a href="" ng-click="showViewer = true" class="btn btn-sm btn-info">
          <i class="fa fa-plus"></i>
          Add a Viewer
        </a>
        <a href="" ng-click="showTile = true" class="btn btn-sm btn-info">
          <i class="fa fa-plus"></i>
          Add a Tile
        </a>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel">
              <div class="panel-body">
                <div class="pull-right">
                  <a href=""><i class="fa fa-times text-danger"></i></a>
                </div>
                <p class="text-muted"><small>Tile</small></p>
                <p>Default Viewer</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Hidden</strong> Yes
                  </li>
                </ul>
                <a class="btn btn-default btn-xs">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </p>
    </div>
    <hr/>
    <button type="button" class="btn btn-default">Save Version</button>
    <button type="button" class="pull-right btn btn-danger">Publish Version</button>
  </form>
  <br/>
</div>
