<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <!-- Modal for Linking Identities !-->
  <modal name="'Link Identity'" enabled="linkIdentityDialog">
    <!-- Linking Identity Waiting !-->
    <script type="text/ng-template" id="linkIdentityWait">
      <p>
        Your account is now enabled to receive link requests.  After 5
        minutes of inactivity, link requests will automatically be
        turned off.
      </p>
      <br/>
      <div class="text-center text-muted">
        <p>
          <i class="fa fa-spin fa-circle-o-notch fa-5x"></i>
        </p>
        <p class="text-muted">Waiting for link request...</p>
      </div>
    </script>

    <!-- Linking Identity Confirm !-->
    <script type="text/ng-template" id="linkIdentityConfirm">
      <p>
        Your account has received a link request. Please confirm that the
        numbers below match the ones shown on your other device.
      </p>
      <p>
        <strong>
          If they do not match, do <i>not</i> accept the link request.
        </strong>
        Click the "<i class='fa fa-times'></i>" button in the top right of this window.
      </p>

      <div class="link-numbers text-center">
        <span ng-repeat="c in linkCode track by $index">{{ c }}</span>
      </div>
      <hr/>
      <p class="text-right">
        <a href=""
           ng-click="acceptRequest()"
           class="btn btn-sm btn-success">
          Accept the Request
        </a>
      </p>
    </script>

    <script type="text/ng-template" id="linkIdentitySuccess">
      <div class="text-center">
        <p>
          <i class="text-success fa fa-check-circle fa-5x"></i>
        </p>
        <p>You have successfully linked this identity to a new account.</p>
      </div>
      <a href=""
         class="btn btn-success btn-sm"
         ng-click="closeLinkModal()">Close</a>
    </script>

    <script type="text/ng-template" id="linkIdentityError">
      <div class="text-center">
        <p>
          <i class="text-warning fa fa-exclamation-triangle fa-5x"></i>
        </p>
        <p>There was an error during the linking process.</p>
        <p class="text-muted">
          <small>{{ linkIdentityMsg }}</small>
        </p>
      </div>
      <a href="" 
         class="btn btn-warning btn-sm"
         ng-click="closeLinkModal()">Close</a>
    </script>

    <div ng-include src="identityTemplate"></div>
  </modal>

  <!-- Remove Modal !-->
  <modal name="'Remove Identity'" enabled="showRemoveDialog">
    <p>
      Are you sure that you want to remove the identity "{{ removingIdentity.Nickname }}"?
    </p>
    <p class="text-danger">
      Once you remove an identity, you can <i>never</i> send or receive
      messages at that identity. Additionally, you <i>cannot</i> read
      messages previously received by that identity.
    </p>
    <p>
      If you do not want this to happen, ensure that you have a backup
      of this identity <i>before</i> deleting it.
    </p>
    <hr/>
    <p>
      <a href=""
         ng-click="deleteIdentity(removingIdentity)"
         class="btn btn-sm btn-link pull-right text-danger">
        Delete the Identity
      </a>
      <a href=""
         ng-click="closeRemoveModal()"
         class="btn btn-sm btn-primary">
        Nevermind, Save the Identity
      </a>
    </p>
  </modal>

  <h3><i class="fa fa-gears"></i> Settings <small>Identity</small></h3>
  <hr/>
  <h4>Current Identities</h4>

  <p><a href="#/settings/identity/new">Create a New Identity</a></p>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="list-group" ng-init="selectedId = 0">
        <a class="list-group-item"
           ng-repeat="id in identities"
           ng-click="$parent.selectedId = $index"
           ng-class="{ active: $parent.selectedId == $index, 'list-group-item-success': id.Current }"
           style="overflow: hidden;">
          <h4 class="list-group-item-heading">{{ id.Nickname }}</h4>
          <p class="list-group-item-text">{{ id.Fingerprint | limitTo:15 }}...</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="well">
        <h3 style="margin-top: 0;">
          {{ identities[selectedId].Nickname }}
          <small ng-hide="identities[selectedId].Current">
            <a href="" ng-click="setCurrentIdentity(identities[selectedId])">set current</a>
          </small>
        </h3>
        <p class="text-muted" style="word-break: break-all;">
          <a href="" ng-click="copy(identities[selectedId].Fingerprint)">
            {{ identities[selectedId].Fingerprint | limitTo:15 }}...
          </a>
          <small>click to copy</small>
        </p>
        <!--
        <h4>Profile</h4>
        <p>{{ identities[selectedId].profile }}</p>
        !-->
        <h4>Aliases</h4>
        <p class="text-muted"><small>Registered At: {{ identities[selectedId].Server }}</small></p>
        <!-- <p><a href="#">Add Alias</a></p> !-->
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="alias in identities[selectedId].aliases">{{ alias }}</li>
        </ul>
        
        <p class="pull-right">
          <a ng-click="showRemoveDialog = true; removingIdentity=identities[selectedId]" class="text-danger" href="">
            Remove Identity
          </a>
        </p>

        <p>
          <a href="" ng-click="enableLink()" class="btn btn-success btn-xs">
            Start Link
          </a>
        </p>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
