<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i> Settings <small>Identity</small></h3>
  <hr/>
  <h4>Current Identities</h4>

  <p><a href="#/settings/identity/new">Create a New Identity</a></p>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="list-group" ng-init="selectedId = 0">
        <a class="list-group-item"
           ng-repeat="id in identities"
           ng-click="$parent.selectedId = $index"
           ng-class="{ active: $parent.selectedId == $index, 'list-group-item-success': id.Current }"
           style="overflow: hidden;">
          <h4 class="list-group-item-heading">{{ id.Nickname }}</h4>
          <p class="list-group-item-text">{{ id.Fingerprint }}</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="well">
        <h3 style="margin-top: 0;">{{ identities[selectedId].Nickname }} <small ng-hide="identities[selectedId].Current"><a href="" ng-click="setCurrentIdentity(identities[selectedId])">set current</a></small></h3>
        <p class="text-muted" style="word-break: break-all;"><a href="" ng-click="copy(identities[selectedId].Fingerprint)">{{ identities[selectedId].Fingerprint }}</a></p>
        <h4>Profile</h4>
        <p>{{ identities[selectedId].profile }}</p>
        <h4>Aliases</h4>
        <p>Registered At: {{ identities[selectedId].Server }}</p>
        <hr/>
        <p><a href="#">Add Alias</a></p>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="alias in identities[selectedId].aliases">{{ alias }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
