<h3><i class="fa fa-gears"></i> Settings</h3>
<hr/>
<h4>Install Applications</h4>
<form class="form">
  <input type="text" class="form-control" placeholder="Enter Application URL">
</form>
<hr/>
<h4><i class="fa fa-star"></i> Featured Applications</h4>
<div class="row">
</div>
<hr/>
<h4><i class="fa fa-desktop"></i> Installed Applications</h4>
<div class="row">
  <div class="col-sm-6" ng-repeat="plugin in allPlugins">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead" style="margin-bottom: 0;">{{ plugin.name }}</p>
        <p>{{ plugin.description }}</p>
      </div>
      <div class="panel-footer">
        <a href="#" class="btn btn-xs btn-default">Settings</a>
        <a href="#" class="btn btn-xs btn-default">Disable</a>
        <a href="#" class="btn btn-xs btn-default">Uninstall</a>
      </div>
    </div>
  </div>
</div>
<hr/>
<h4><i class="fa fa-road"></i> Danger Zone™</h4>
<br/>
<p>
  <a class="btn btn-sm btn-default" href="#/startup">Rerun Startup Wizard</a>
  <a class="btn btn-sm btn-danger">Delete All Data</a>
</p>
