<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i> Settings <small>General</small></h3>
  <hr/>
  <!-- <h4>Security</h4> -->
  <!-- <form role="form"> -->
  <!--   <div class="checkbox"> -->
  <!--     <label> -->
  <!--       <input type="checkbox" checked> Encrypt Private Keys on Exit -->
  <!--     </label> -->
  <!--   </div> -->
  <!-- </form> -->
  <!-- <br/> -->
  <div ng-if="canUpdate">
    <h4>Updates</h4>
    <p><a href="" ng-click="checkForUpdates()" class="btn btn-sm" ng-class="btnType"><i class="fa fa-fw fa-refresh" ng-class="{'fa-spin': working}"></i> {{ updateStatus }}</a></p>
    <br ng-if="downloadProgress"/>
    <div ng-if="downloadProgress" class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ downloadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ downloadProgress }}%;">
        {{ downloadProgress }}%
      </div>
    </div>
    <br ng-if="update"/>
    <div ng-if="update">
      <div class="well update">
        <h3 style="margin: 0 0 10px 0;">Version: {{ update.Version }}</h3>
        <span ng-bind-html="changelog"></span>
      </div>
    </div>
  </div>
</div>
