<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i> Settings <small>New Identity</small></h3>
  <hr/>

  <form ng-submit="save()">
    <div class="form-group">
      <label for="nickname">Identity Nickname</label>
      <input type="text" ng-model="profile.nickname" id="nickname" name="nickname" class="form-control">
    </div>
    <div ng-include="'partials/includes/servers.html'"></div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
  </form>
  <br/>
</div>
