<div ng-include="'partials/settings/toolbar.html'"></div>

<div class="container-fluid settings">
  <h3><i class="fa fa-gears"></i> Settings <small>Apps</small></h3>
  <hr/>
  <h4>Install Applications</h4>
  <div class="row">
    <div class="col-xs-6">
      <form class="form">
        <div class="form-group">
          <label for="application-search">Search for Applications</label>
          <input id="application-search" name="application-search" type="text" class="form-control" placeholder="flappy bird application">
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <form class="form">
        <div class="form-group">
          <label for="application-url">Install a Custom Application via URL</label>
          <input id="application-url" name="application-url" type="text" class="form-control" placeholder="http://airdispat.ch/plugins/notes.zip">
        </div>
      </form>
    </div>
  </div>
  <hr/>
  <h4><i class="fa fa-star"></i> Featured Applications</h4>
  <div class="row">
  </div>
  <hr/>
  <h4><i class="fa fa-desktop"></i> Installed Applications</h4>
  <div class="row">
    <div class="col-sm-6" ng-repeat="plugin in allPlugins">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="lead" style="margin-bottom: 0;">{{ plugin.name }}</p>
          <p>{{ plugin.description }}</p>
        </div>
        <div class="panel-footer">
          <a href="#" class="btn btn-xs btn-default">Settings</a>
          <a href="#" class="btn btn-xs btn-default">Disable</a>
          <a href="#" class="btn btn-xs btn-default">Uninstall</a>
        </div>
      </div>
    </div>
  </div>
</div>
