<nav class="navbar navbar-inverse navbar-settings" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/settings">General</a></li>
        <li><a href="#/settings/identity">Identity</a></li>
        <li><a href="#/settings/plugins">Plugins</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/settings/advanced">Advanced</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
