{{ set . "title" "Profile" }}
{{ template "header.html" . }}

<div class="container">
  <div class="row">
    {{ template "sidebar.html" . }}
    <div class="main col-sm-10" style="padding-top: 20px;">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-responsive img-circle" src="{{ .user.GetAvatar }}">
        </div>
        <div class="col-sm-9 profile-header">
          <h1>{{ .user.Name }}</h1>
          <h4 class="no-margin">About</h4>
	  <p>{{ .user.Description }}</p>
          <!--<p class="date no-margin">University of Virginia, AirDispatch</p>
          <hr/>
          <div class="row">
            <div class="col-sm-6">
              <p>{{ .user.Description }}</p>
            </div>
            <div class="col-sm-6">
              <p class="no-margin"><strong>Eating Ice Cream:</strong> <i class="fa
                fa-check"></i></p>
              <p class="no-margin"><strong>Ready for Slice:</strong> <i class="fa
                fa-check"></i></p>
            </div>
          </div>!-->
        </div>
      </div>
      <br/>
      <!-- Panel !-->
      {{ template "messages.html" .messages }}
    </div>
  </div>
</div>

{{ template "footer.html" . }}
