<div class="toolbar">
  <p><a href="#setup/server" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Back</a></p>
</div>
<h1>New Account <small>Step 3 of 3</small></h1>
<p>Confirm that you understand what Melange is and isn't.</p>
<hr/>
<div class="row">
  <div class="col-sm-2"><i class="text-warning fa fa-bullhorn fa-5x"></i></div>
  <div class="col-sm-10">
    <h3 style="margin-top: 0;">Developer Preview</h3>
    <p>
      Melange is currently in a developer preview release. This has
      several implications. If you are not a developer looking to create
      plugins for Melange, this release is probably not for you. Not all
      features are expected to work correctly, and not all security
      guarantees will be met.
    </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-2"><i class="text-danger fa fa-exclamation-triangle fa-5x"></i></div>
  <div class="col-sm-10">
    <h3 style="margin-top: 0;">Account Restoration</h3>
    <p>
      Remember to back up your computer to a secure location while using
      Melange. If you lose your account information (stored <i>only</i>
      in your <code>~/Library/Application Support/Melange</code> folder),
      there is nothing that we can do to restore your account.
    </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-6 col-sm-offset-6 text-right">
    <p><a href="" class="btn btn-success btn-lg" ng-click="finish()">I Agree, Register My Account <i class="fa fa-arrow-right"></i></a></p>
    <p class="text-muted">If you disagree, please close the application.<br/>Your account has not been created.</p>
  </div>
</div>
