<div class="toolbar">
  <p><a href="#setup" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Back</a></p>
</div>
<h1>Link Account <small>Step 1 of 2</small></h1>

<div class="container">
  <p>
    To begin, you need to go to a computer that has access to your current
    account. Open Melange, and navigate to Settings. Then click the Identity
    tab at the top of the screen.
  </p>

  <p>
    Finally, click the identity that you wish to link, then click the
    "Start Link" button. A screen will open that will inform you it is waiting
    for a link initiation. Once that has occurred, enter your current address below.
  </p>
</div>

<hr/>
<form class="form">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="address">Current Account Address</label>
        <input type="email" 
               id="address" 
               ng-model="address" 
               name="address" 
               class="form-control">
      </div>
    </div>
  </div>
  <hr/>
  <div class="form-actions text-right">
    <a href="" ng-click="linkRequest()" class="btn btn-primary" ng-disabled="isLinking">
      Continue
      <i class="fa fa-arrow-right" ng-class="{'fa-arrow-right': !isLinking, 'fa-spin fa-circle-o-notch': isLinking}"></i>
    </a>
  </div>
</form>
