{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Welcome to Melange, a powerful new way to communicate.</p>
    <p><a class="bt btn-success btn-lg" href="/register">Register Now</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Control</h2>
      <p>Melange lets you control your data like never before. By seamless integrating with the AirDispatch protocol, Melange allows users to connect with people on all kinds of platforms without having to incur the social cost of switching. Melange lets users export and import data from a variety of sources so that you are never a step away from trying out new platforms.</p>
	  <p><a href="#">Our Data Promise</a></p>
    </div>
    <div class="col-md-4">
      <h2>Security</h2>
      <p>Melange runs on the innovative, new AirDispatch protocol. Lightyears more secure than email, AirDispatch allows users to sleep comfortably at night without having to worry about addressing spoofing, encryption, or data leakage.</p>
	  <p><a href="#">Detailed Security Profile</a></p>
    </div>
    <div class="col-md-4">
      <h2>Flexibility</h2>
      <p>Melange uses the new Web Plugins Library to add extensibility to the messages that it can receive. Anyone can go online and define a free protocol that specifies exactly what needs to be in a message and how it is displayed in the interface.</p>
	  <p><a href="#">Developer Center</a></p>
    </div>
  </div>
  <p>Or learn more at the <a href="http://airdispat.ch">AirDispatch Foundation</a></p>
  <div class="alert alert-warning">
     <p>Melange cannot protect against all government spying on the internet. We recommend that you "Host Your Own" if you want protection from this.</p>
  </div>

  <hr/>

  <h2 id="pricing">Pricing</h2>
  <div class="row">
    <div class="col-xs-4">
      <h4>Standard</h4>
      <p>Free, but at a privacy cost.</p>
      <p>Free forever</p>
      <p><a href="#" class="btn btn-warning btn-sm">Register</a></p>
    </div>
    <div class="col-xs-4">
      <h4><strong>Secure</strong></h4>
      <p>Best Value</p>
      <p>$5/month</p>
      <p><a href="#" class="btn btn-primary btn-lg">Register</a></p>
    </div>
    <div class="col-xs-4">
      <h4>Roll Your Own</h4>
      <p>Most Secure</p>
      <p>Free forever</p>
      <p><a href="#" class="btn btn-warning btn-sm">Download</a></p>
    </div>
  </div>
</div>

{{template "footer.html" .}}
