{{ set . "title" "Login" }}
{{ set . "auth" true }}
{{ template "header.html" . }}

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
      <div class="panel panel-default login-panel">
        <div class="panel-body">
          <form class="form-signin" role="form" method="post">
            <h2>Please sign in</h2>
    		{{ if .flash.error }}
    		<p class="error">{{ .flash.error }}</p>
    		{{ else }}
            <p>You are just a few moments away from experiencing great communication...</p>
    		{{ end }}
            <div class="form-group">
              <label class="sr-only" for="usernameInput">Username</label>
              <input type="text" class="form-control input-lg" name="username" id="usernameInput" placeholder="Username" required autofocus>

              <label class="sr-only" for="passwordInput">Password</label>
              <input type="password" class="form-control input-lg" name="password" id="passwordInput" placeholder="Password" required>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign In">
            <br/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" . }}
