<div class="toolbar">
  <p><a href="#startup/server" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Back</a></p>
</div>
<h1>New Account <small>Step 3 of 3</small></h1>
<p>Confirm that you understand what Melange is and isn't.</p>
<hr/>
<div class="row">
  <div class="col-sm-2"><i class="fa fa-unlock fa-5x"></i></div>
  <div class="col-sm-10">
    <h3 style="margin-top: 0;">Security</h3>
    <p>Melange has not been reviewed by an independent security researcher, and therefore should not be trusted with senesitive data.</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-2"><i class="fa fa-unlock fa-5x"></i></div>
  <div class="col-sm-10">
    <h3 style="margin-top: 0;">Security</h3>
    <p>Melange has not been reviewed by an independent security researcher, and therefore should not be trusted with senesitive data.</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-2"><i class="fa fa-unlock fa-5x"></i></div>
  <div class="col-sm-10">
    <h3 style="margin-top: 0;">Security</h3>
    <p>Melange has not been reviewed by an independent security researcher, and therefore should not be trusted with senesitive data.</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-6 col-sm-offset-6 text-right">
    <p><a href="#dashboard" class="btn btn-success btn-lg">I Agree, Register My Account <i class="fa fa-arrow-right"></i></a></p>
    <p class="text-muted">If you disagree, please close the application.<br/>Your account has not been created.</p>
  </div>
</div>
