<div class="text-center" style="padding: 20px; padding-top: 80px;">
  <h1>Link an Existing Account</h1>
  <br/>
  <p>This looks like it is your first time launching Melange. Let's walk you through getting your account setup. Please select if you already have an account or not.<p>
  <br/>
  <p>
    <a href="#startup/new" class="btn btn-lg btn-primary btn-space">New Account</a>
    <a href="#startup/link" class="btn btn-lg btn-success btn-space">Link Existing Account</a>
  </p>
  <br/>
  <p class="text-muted">or <a href="#">Start a Server</a></p>
</div>
