<h1>
  {{ newProfile ? 'Create a New Profile' : 'Edit your profile' }}
</h1>
<p ng-if="newProfile">Looks like you are new around here, let's get you a profile.</p>
<p><a href="#/profile">Go Back</a></p>

<form role="form" enctype="multipart/form-data" ng-submit="save()">
  <div class="form-group">
    <label for="full-name">Full Name</label>
    <input type="text" id="full-name" name="full-name" ng-model="profile.name" class="form-control">
  </div>
  <div class="image">
    <div class="text-center" style="float: right;">
      <label for="preview">Preview</label>
      <div class="square-window" style="float: none;" ng-style="{'background-image':'url({{ avatar }})'}"></div>
    </div>
    <div class="form-group">
      <label for="image">Profile Picture</label>
      <div>
        <button id="image" type="button" ng-click="upload()" class="btn btn-primary btn-sm" ng-disabled="uploading">
          <i class="fa fa-spin fa-circle-o-notch" ng-show="uploading"></i>
          {{ uploading ? "Uploading your Picture" : "Upload a Profile Picture" }}
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">About You</label>
    <textarea id="description" name="description" ng-model="profile.description" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="uploading">Save</button>
</form>
