<div ng-if="!hidden || all">
  <script type="text/ng-template" id="default">
        <div ng-repeat="(key, component) in data.components">
          <p><strong>{{ key }}</strong></p>
          <p class="can-select" style='word-wrap: break-word;'>{{ component.string }}</p>
        </div>
  </script>

  <script type="text/ng-template" id="remote">
    <iframe ng-src="{{ url | unsafeUrl }}" class="message-viewer" style="height: 0px;" sandbox="allow-scripts allow-same-origin"></iframe>
  </script>

  <script type="text/ng-template" id="profile"></script>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="message-title" ng-class="{'no-margin': templateType == 'profile'}">
        <div class="square-window" ng-style="{'background-image':'url({{ data.from.avatar }})'}"></div>
        <!-- <div class="square-window">
          <img ng-src="{{ data.from.avatar }}" class="img-responsive"/>
        </div> -->
        <div class="user-title">
          <p class="text-muted" style="font-size: 50%;"><i class="fa fa-fw fa-rss" ng-show="data.public"></i> {{ data.date | date : 'short' }}</p>
          <h5 class="text-muted">
            <span ng-if="!data.self">
              <a ng-href="#/user/{{ data.from.alias }}">{{ data.from.name }}</a>
              <span ng-if="templateType == 'profile'">updated their profile.</span>
            </span>
            <span ng-if="data.self">
              {{ data.from.name }}
              <span ng-if="!data.public">
                <i class="fa fa-caret-right"></i>
                <span ng-repeat="to in data.to">
                  <a ng-href="#/user/{{ to.alias }}">{{ to.name }}</a>
                </span>
              </span>
            </span>
          </h5>
        </div>
        <div class="clear"></div>
      </div>
      <ng-include src="templateType" onload="register()"></ng-include>
    </div>
    <div class="panel-footer" ng-if="templateType == 'remote'">
      <p class="text-muted" style="margin: 0;"><small>viewed by <abbr title="{{ plugin.id }}">{{ plugin.name }}</abbr></small></p>
    </div>
  </div>
</div>
