<!-- Modal -->
<div
   class="modal melange-modal fade"
   ng-class="{'in': enabled}"
   ng-style="{'display': enabled ? 'block' : 'none' }"
   id="{{ name }}" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="name">
        <button type="button" class="close" ng-click="enabled = false">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="modalLabel">{{ name }}</h4>
      </div>
      <div class="modal-body" ng-transclude>
        <!-- Transcluded Content !-->
      </div>
      <div class="modal-footer" ng-show="data.footer">
        {{ data.footer }}
      </div>
    </div>
  </div>
</div>
