<div class="col-sm-2 nav">
    <div class="sidebar-container">
        <h4>Navigation</h4>
        <div class="sidebar">
            <div class="header">PLACES</div>
            <a {{ active .title "Dashboard" }} href="/dashboard">Dashboard</a>
            <a {{ active .title "All Messages" }} href="/all">All Messages</a>
            <a {{ active .title "Profile" }} href="/profile">My Profile</a>
            <div class="header">APPS</div>
            {{ $t := .title }}
            {{ range .apps }}
                <a {{ active $t .Name }} href="/app/{{ .Name }}">{{ .Name }}</a>
            {{ end }}
            <a href="/app/" class="small"><i class="fa fa-gears"></i> Manage Apps</a>
	    <div class="header">FAVORITES</div>
	    <a href="#">Dalton Sherwood</a>
        </div>
    </div>
</div>
