<div class="col-sm-2 nav">
    <div class="sidebar-container">
        <h4>Navigation</h4>
        <div class="sidebar">
            <div class="header">PLACES</div>
            <a {{ active .title "Dashboard" }} href="/dashboard">Dashboard</a>
            <a {{ active .title "All Messages" }} href="/all">All Messages</a>
            <a {{ active .title "Profile" }} href="/profile">My Profile</a>
            <div class="header">APPS</div>
            <a {{ active .app_name "notes" }} href="/app/notes">Notes <span class="label label-primary">50</span></a>
            <a {{ active .app_name "chat" }} href="/app/chat">Chat</a>
            <a {{ active .app_name "events" }} href="/app/events">Events</a>
            <a href="#"><i class="fa fa-plus"></i> Add an App</a>
            <a href="#" class="small"><i class="fa fa-caret-down fa-fw"></i> More</a>
	    <div class="header">FAVORITES</div>
	    <a href="#">Dalton Sherwood</a>
        </div>
    </div>
</div>
